In [13]:
import pandas as pd

In [72]:
import dask.dataframe as dd

In [15]:
pd.__version__

'2.2.3'

In [ ]:
df=pd.read_parquet('C:/Users/vamsi/Desktop/DEProject/ZoomcampNew/docker_sql/yellow_tripdata_2024-02.parquet')

In [ ]:
df

In [28]:
df_iter=pd.read_parquet('C:/Users/vamsi/Desktop/DEProject/ZoomcampNew/docker_sql/yellow_tripdata_2024-02.parquet')

In [34]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-02-01 00:04:45,2024-02-01 00:19:58,1.0,4.39,1.0,N,68,236,1,20.50,1.0,0.5,1.28,0.00,1.0,26.78,2.5,0.00
1,2,2024-02-01 00:56:31,2024-02-01 01:10:53,1.0,7.71,1.0,N,48,243,1,31.00,1.0,0.5,9.00,0.00,1.0,45.00,2.5,0.00
2,2,2024-02-01 00:07:50,2024-02-01 00:43:12,2.0,28.69,2.0,N,132,261,2,70.00,0.0,0.5,0.00,6.94,1.0,82.69,2.5,1.75
3,1,2024-02-01 00:01:49,2024-02-01 00:10:47,1.0,1.10,1.0,N,161,163,1,9.30,3.5,0.5,2.85,0.00,1.0,17.15,2.5,0.00
4,1,2024-02-01 00:37:35,2024-02-01 00:51:15,1.0,2.60,1.0,N,246,79,2,15.60,3.5,0.5,0.00,0.00,1.0,20.60,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007521,2,2024-02-29 23:20:17,2024-02-29 23:28:25,NaN,0.35,NaN,None,164,170,0,21.02,0.0,0.5,0.00,0.00,1.0,25.02,NaN,NaN
3007522,2,2024-02-29 23:38:37,2024-02-29 23:49:37,NaN,1.99,NaN,None,249,45,0,18.78,0.0,0.5,0.00,0.00,1.0,22.78,NaN,NaN
3007523,2,2024-02-29 23:14:40,2024-02-29 23:19:29,NaN,0.84,NaN,None,113,249,0,8.82,0.0,0.5,0.00,0.00,1.0,12.82,NaN,NaN
3007524,1,2024-02-29 23:12:06,2024-02-29 23:21:53,NaN,0.00,NaN,None,164,107,0,14.37,0.0,0.5,0.00,0.00,1.0,18.37,NaN,NaN
3007525,2,2024-02-29 23:16:42,2024-02-29 23:37:45,NaN,3.94,NaN,None,79,142,0,28.60,0.0,0.5,0.00,0.00,1.0,32.60,NaN,NaN

In [36]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
len(df)

In [38]:
pd.io.sql.get_schema(df,name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "Airport_fee" REAL\n)'

In [ ]:
engine.connect()

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

In [ ]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.head()

In [56]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee]
Index: []

In [129]:
engine = create_engine('postgresql+psycopg2://root:root@localhost:5432/ny_taxi')

In [131]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

0

In [132]:
from time import time

In [135]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

KeyboardInterrupt:

Exception ignored in: 'zmq.backend.cython.message.Frame.__dealloc__'
Traceback (most recent call last):
  File "zmq\\backend\\cython\\checkrc.pxd", line 13, in zmq.backend.cython.checkrc._check_rc
KeyboardInterrupt:

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [136]:
from time import time

In [137]:
while True:
    t_start=time()
    df=next(df_iter)
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
    t_end=time()
    
    print('inserted another chunk...,took %.3f second '%(t_start-t_end))

TypeError: 'DataFrame' object is not an iterator

In [104]:
ddf = dd.read_parquet('C:/Users/vamsi/Desktop/DEProject/ZoomcampNew/docker_sql/yellow_tripdata_2024-02.parquet', 
                       iterator=True)

In [ ]:
ddf.to_sql('yellow_taxi_data', con=engine, if_exists='append', index=False, method='multi')

In [ ]:
ddf.to_sddql('yellow_taxi_data', con=engine, if_exists='append', index=False, chunksize=1000)

In [ ]:
import dask.dataframe as dd
from sqlalchemy import create_engine

# Step 1: Set up your database connection
db_url = 'postgresql://root:root@localhost:5432/ny_taxi'
engine = create_engine(db_url)

# Step 2: Read the parquet file into a Dask DataFrame
ddf = dd.read_parquet('C:/Users/vamsi/Desktop/DEProject/ZoomcampNew/docker_sql/yellow_tripdata_2024-02.parquet')

# Step 3: Insert data into the database in chunks
# Iterate over the Dask DataFrame partitions
for partition in ddf.to_delayed():
    # Compute the partition to get a Pandas DataFrame
    pdf = partition.compute()
    
    # Step 4: Insert into the database
    pdf.to_sql('yellow_taxi_data', con=engine, if_exists='append', index=False)

print("Data inserted successfully.")