In [272]:
import pandas as pd

In [274]:
pd.__version__

'2.2.3'

In [276]:
df=pd.read_csv('C:/Users/vamsi/Desktop/DEProject/ZoomcampNew/docker_sql/yellow_tripdata_2024-01.csv', nrows=100)

In [278]:
df_iter=pd.read_csv('C:/Users/vamsi/Desktop/DEProject/ZoomcampNew/docker_sql/yellow_tripdata_2024-01.csv', chunksize=100000,iterator=True)

In [280]:
df=next(df_iter)

In [281]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [283]:
len(df)

100000

In [286]:
pd.io.sql.get_schema(df,name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "Airport_fee" REAL\n)'

In [ ]:
engine.connect()

In [290]:
from sqlalchemy import create_engine

In [267]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [239]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [162]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [233]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [235]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee]
Index: []

In [247]:
engine = create_engine('postgresql+psycopg2://root:root@localhost:5432/ny_taxi')

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

In [ ]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

In [75]:
from time import time

In [77]:
while True:
    t_start=time()
    df=next(df_iter)
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
    t_end=time()
    
    print('inserted another chunk...,took %.3f second '%(t_start-t_end))

inserted another chunk...,took-21.963 second
inserted another chunk...,took-17.623 second
inserted another chunk...,took-23.396 second
inserted another chunk...,took-20.717 second
inserted another chunk...,took-15.308 second
inserted another chunk...,took-19.623 second
inserted another chunk...,took-33.672 second
inserted another chunk...,took-25.113 second
inserted another chunk...,took-17.956 second
inserted another chunk...,took-20.462 second
inserted another chunk...,took-22.828 second
inserted another chunk...,took-17.059 second
inserted another chunk...,took-19.987 second
inserted another chunk...,took-22.939 second
inserted another chunk...,took-15.584 second
inserted another chunk...,took-18.078 second
inserted another chunk...,took-20.719 second
inserted another chunk...,took-15.920 second
inserted another chunk...,took-14.873 second
inserted another chunk...,took-18.598 second
inserted another chunk...,took-16.632 second
inserted another chunk...,took-14.696 second
inserted another chunk...,took-29.105 second
inserted another chunk...,took-19.840 second
inserted another chunk...,took-16.011 second
inserted another chunk...,took-14.909 second
inserted another chunk...,took-17.765 second

C:\Users\vamsi\AppData\Local\Temp\ipykernel_37132\1290397260.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk...,took-14.431 second
inserted another chunk...,took-8.661 second

StopIteration: